﻿{
	"contactNumber": "{{data.contactNumber}}",
	"emailAddress": "{{data.emailAddress}}",
	"contactPreference": "{{data.contactPreference}}",
	"givenName": "{{data.givenName}}",
	"familyName": "{{data.familyName}}",
	"policyRoles": [
		{% for item in data.policyRoles %}
		{
			"policyNumber": "{{item.policyNumber}}",
			"policyName": "{{item.policyName}}",
			"role": "{{item.role}}"
		}{% unless forloop.last %},{% endunless %}
		{% endfor %}
	]
}