﻿{
  "data": [
    {% for item in data.data %}
      {
        "type": "{{item.type}}",
        "id": "{{item.id}}",
        "attributes": {
          "method": "{{item.attributes.method}}",
          "url": "{{item.attributes.url}}"
        }
      }{% unless forloop.last %},{% endunless %}
     {% endfor %}
  ]
}