﻿{
  "type": "string",
  "items": [
    {% for item in data.items %}
      {
        "id": "{{item.id}}",
        "name": "{{item.name}}",
        "description": "{{item.description}}"
      }{% unless forloop.last %},{% endunless %}
     {% endfor %}
  ]
}