﻿{
    "phone": {
      "contactNumber": "{{data.phone.contactNumber}}",
      "phoneType": "{{data.phone.phoneType}}"
    },
	"emailAddress": "{{data.emailAddress}}",
	"contactPreference": "{{data.contactPreference}}",
	"givenName": "{{data.given}}",
	"familyName": "{{data.family}}",
	"policyRoles": [
		{% for item in data.policyRoles %}
		{
			"policyNumber": "{{item.policyNumber}}",
			"policyName": "{{item.policyName}}",
			"role": "{{item.role}}"
		}{% unless forloop.last %},{% endunless %}
		{% endfor %}
	]
}