﻿{
  "data": [
     {% for item in data.data %}
      {
		"accountName": "{{item.accountName}}",
		"accountNumber": "{{item.accountNumber}}",
		"bsb": "{{item.bsb}}",
		"bankName": "{{item.bankName}}",
		"policyName": "{{item.policyName}}",
		"policyNumber": "{{item.policyNumber}}"
      }{% unless forloop.last %},{% endunless %}
     {% endfor %}
   ]
}