﻿{
  "items": [
    {% for item in data.items %}
      {
        "policyNumber": "{{item.policyNumber}}",
        "businessName": "{{item.businessName}}"
      }{% unless forloop.last %},{% endunless %}
     {% endfor %}
  ]
}
